<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Taglook</title>

	<!-- JQuery -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<link rel="stylesheet/less" type="text/css" href="<?= resource_url('css', 'common.less') ?>">
	<link rel="stylesheet/less" type="text/css" href="<?= resource_url('css', 'nav.less') ?>">
	<link rel="stylesheet/less" type="text/css" href="<?= resource_url('css', 'main.less') ?>">
	<link rel="stylesheet/less" type="text/css" href="<?= resource_url('css', 'item.less') ?>">

	<script type"text/javascript" src="<?= resource_url('js', 'main.js') ?>"></script>

	<!-- Less.js -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
</head>
<body>
	<div id="main-container">
		<nav id="nav-container">
			<div id="nav-wrap">
				<div id="nav-header-area">
					<div id="nav-header-hamberger">
						<img id="hamberger-btn" src="<?= resource_url('img', 'hamberger.png') ?>" alt="">
						<div id="hamberger-dropdown" class="nav-dropdown">
							<ul>
								<li><a href="">Spring</a></li>
								<li><a href="">Summer</a></li>
								<li><a href="">Fall</a></li>
								<li><a href="">Winter</a></li>
							</ul>
						</div>
					</div>
					<div class="nav-header-line"></div>
					<div id="nav-header-noti">
						<img src="<?= resource_url('img', 'noti.png') ?>" alt="">
						<div id="nav-noti-label">
							<p>13</p>
						</div>
						<div id="nav-noti-dropdown">
							<div id="noti-dropdown">
								<div id="noti-subject">
									<h4>알림</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="nav-header-line"></div>
					<div id="nav-header-profile">
						<img src="<?= resource_url('img', 'profile.png'); ?>" alt="">
						<p>이지은</p>
					</div>
					<div class="nav-header-line"></div>
				</div>
				<div id="nav-brand-area">
					<h1>Taglook</h1>
					<div id="nav-brand-gender"></div>
				</div>
				<div id="nav-search-area">
					<input type="text" placeholder="검색어를 입력해주세요">
					<div id="nav-search-btn">
						<img src="<?= resource_url('img', 'search.png') ?>" alt="">
					</div>
				</div>
			</div>
		</nav>
		<div id="item-container">
			<div id="ranking-area">
				<div id="ranking-title-wrap">
					<h3>오늘의 인기 상품</h3>
				</div>
				<div id="ranking-item-wrap">
					<div class="item">
						<div class="item-img">
							<img class="item-main-img" src="<?= resource_url('img', 'item.jpg') ?>" alt="">
							<div class="item-img-cover"></div>
							<div class="best-badge">
								<img src="<?= resource_url('img', 'best.png') ?>" alt="">
								<p>BEST 1</p>
							</div>
							<div class="item-tab">
								<ul>
									<li><img src="<?= resource_url('img', 'like.png') ?>" alt=""></li>
									<li><img src="<?= resource_url('img', 'share.png') ?>" alt=""></li>
									<li><img src="<?= resource_url('img', 'archive.png') ?>" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="item-description">
							<div class="item-content">
								<div class="item-content-profile">
									<img src="<?= resource_url('img', 'profile.png') ?>" alt="">
									<p>Sylvester</p>
								</div>
								<div class="item-content-text">
									<p class="item-text-like">
										12,517명이 좋아합니다.
									</p>
									<p class="item-text-price">
										12,000원 ~
									</p>
								</div>
								<div class="item-content-color">
									<p>색상</p>
									<ul>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
									</ul>
								</div>
								<div class="item-content-tag">
									<img src="<?= resource_url('img', 'tag.png') ?>" alt="">
									<ul>
										<li>태그당</li>
										<li>더이상은</li>
										<li>네이버</li>
									</ul>
								</div>
							</div>
							<div class="item-clothes">
								<ul>
									<li><img src="<?= resource_url('img', 'outer.png') ?>" alt=""></li>
									<div class="clothes-line"></div>
									<li><img src="<?= resource_url('img', 'pants.png') ?>" alt=""></li>
									<div class="clothes-line"></div>
									<li><img src="<?= resource_url('img', 'shoes.png') ?>" alt=""></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>